/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-default);
  background-color: var(--color-bg-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg-base: #121212;

  --size-border: 5px;
  --size-space-xs: 5px;
  --size-space-s: 10px;
  --size-space-m: 20px;
  --color-text-default: #eee;
  --color-primary: #FF6C00;
  --color-bg-0: #121212;
  --color-bg-1: #242424;
  --color-bg-2: #323232;
  --color-bg-3: #404040;
  --color-bg-textarea: #242424;
}

.jetbrains-mono-body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background: var(--color-bg-base);
  display: flex;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
